/* Google Web Font */
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap");

/* Fontawesome 4.7 */
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

body {
  font-family: "Montserrat", sans-serif;
  color: #222;
  margin: 0;
}

/* Reset CSS */
a {
  text-decoration: none;
  color: #222;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}
button {
  cursor: pointer;
  outline: none;
}
button,
input,
textarea,
select {
  outline: none;
  font-family: "Montserrat", sans-serif;
}
header {
  background-color: #cfc3cd;
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
}

nav {
  width: 1280px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 0px;
}

.logo img {
}

.gnb {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.gnb a {
  margin: 15px;
  /* border: 1px solid red; */
  position: relative;
  padding-bottom: 8px;
}

.gnb a:last-child {
  margin-right: 0;
}

.gnb a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: 0.3s;
}

.gnb a:hover:after {
  width: 100%;
}

.gnb li {
}

.gnb li a {
  color: rgb(3, 3, 3);
  margin: 30px;
}

.sns {
  text-align: center;
}

.sns a {
  color: rgb(3, 3, 3);
  margin: 5px;
}

.gnb li a:hover,
.sns a:hover {
  color: rgb(167, 21, 21);
}

.trigger {
  display: none;
}

section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.section-header {
  width: 1200px;

  margin: auto;
}

.gnb2 {
  padding: 30px 0;
  text-align: right;
}

.gnb2 a {
  margin: 15px;
  /* border: 1px solid red; */
  position: relative;
  padding-bottom: 8px;
}

.gnb2 a:last-child {
  margin-right: 0;
}

.gnb2 a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  transition: 0.3s;
}

.gnb2 a:hover:after {
  width: 100%;
}
.media {
  display: flex;
  flex-direction: row;
  background-color: #eee;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.media img {
  width: 100px;
  flex: 1;
  margin-right: 1em;
}
.media iframe {
  width: 50%;
  height: 20vw;
  margin-left: 25%;
}
.media-body {
  flex: 3;
}

@media (max-width: 767px) {
  section {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .gnb2 {
    text-align: center;
    width: 100%;
  }
  .media {
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
  }
  .media:first-child {
    margin-top: 0;
  }
  .media img {
    width: 100%;
  }
  .media iframe {
    width: 100%;
    height: 60vw;
    margin-left: 0em;
  }
  .media-body h3 {
    margin-top: 1em;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  section {
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .media {
    width: 100%;
    margin-top: 10px;
  }
  .media:nth-child(1) {
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
  /* Header */
  header {
    height: auto;
  }
  nav {
    width: 100%;
    flex-direction: column;
    position: relative;
  }
  .logo {
    padding: 10px;
  }
  .gnb {
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  .gnb li {
  }
  .gnb li a {
    display: block;
    padding: 8px;
    margin: 0;
  }
  .sns {
    background-color: #257ed6;
    padding: 8px;
    display: flex;
    justify-content: center;
  }
  .sns a {
    color: #222;
  }

  .gnb,
  .sns {
    display: none;
  }
  .gnb.on,
  .sns.on {
    display: flex;
  }

  /* Trigger */
  .trigger {
    display: block;
    /* border: 1px solid #000; */
    width: 25px;
    height: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .trigger span {
    background-color: #fff;
    height: 1px;
    position: absolute;
    width: 100%;
    transition: 0.3s;
  }
  .trigger span:nth-child(1) {
    top: 0;
  }
  .trigger span:nth-child(2) {
    top: 50%;
  }
  .trigger span:nth-child(3) {
    top: 100%;
  }
  .trigger.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }
  .trigger.active span:nth-child(2) {
    opacity: 0;
  }
  .trigger.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }
}
